.registro {
    width: 400px;
    background-color: transparent;
    padding: 30px;
    margin: auto;   
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px   rgb(0, 0, 0);

}
.registro h4 {
    font-size: 22px;
    margin-bottom: 20px;

}
.cajaTxt {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.registro a {
    color: blue;
    text-decoration: none;
}

.registro a:hover {
    color: rgb(26, 65, 66);
    text-decoration: underline;
}

.registro .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.registro .boton:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.registroMaster {
    overflow: hidden;
    background-image: url(fondoReg.png);
}